i.icon {
    font-size: 2em;
}
.container.main{
    margin-top: 7em;
}
#delete{
    display: inline;
}

#comments{
    margin: auto;
    width: 50%;
    max-height: 30%;
}

iframe{
    width: 50%;
    max-height: 30%;
}