{% include 'blog/partials/header.html' %}
<div class="ui main text container segment">
    <div class="ui huge header">{{ blog.title }}</div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="{{ blog.image }}">
            <div class="content">
                <span>{{ blog.created }}</span>
            </div>
            <div class="description">
                <p>{{ blog.body }}</p>
            </div>
            <a href="/blogs/{{ blog.id }}/edit" class="ui orange basic button">Edit</a>
            <form id="delete" action="/blogs/{{ blog.id }}/" data-method="DELETE">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
</div>

<div id="comments" class="container">
    <iframe src="{% url 'comments:index' blog_id=blog.id page=0 %}" frameborder="0"></iframe>
</div>
 <script>
    $(document).ready(function() {
        $('#delete').ajaxForm();
    });
 </script>
</body>
</html>