a {
    font-weight: bold;
    color: #499bcf;
    text-decoration: none;
    margin: 10px;
}

#comments_tree {
    padding-left: 0px;
}

#comments_tree li {
    list-style-type: none;
}

.poster {
    font-size: 12px;
    color: #AAAAAA;
}

.c {
    font-size: 14px;
    background: #0E0E0E;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 10px;
    margin-bottom: 10px;
}

.container {
    margin: 30px auto;
    width: 100%;
}

#tree{
    width: 100%;
}

.fa {
    width: 10px;
    padding: 10px;
}

.fa:hover{
    color: #397098;
}

#newComment{
    width:100%;
    overflow: auto;
    max-height: 150px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.hide{
    visibility: hidden;
}